
.place-order {
  display: flex;
  gap: 40px;
  padding: 40px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 10px;
  max-width: 1200px;
  margin: 20px auto;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}


.place-order-left {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.place-order-left .title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: red;
}


.multi-fields {
  display: flex;
  gap: 10px;
}


.place-order-left input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.2s;
}

.place-order-left input:focus {
  border-color: #007bff;
  outline: none;
}

.place-order-right {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  height: fit-content;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}


.cart-total h2 {
  font-size: 1.3rem;
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  
}


.cart-total-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 1rem;
  color: black;
}

.cart-total-details b {
  font-weight: bold;
  font-size: 1.2rem;
  color: black;
}

.cart-total button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 20px;
}

.cart-total button:hover {
  background-color: #0056b3;
}


@media (max-width: 900px) {
  .place-order {
    flex-direction: column;
    padding: 20px;
  }

  .multi-fields {
    flex-direction: column;
  }
}
