/* Container for all bag cards */
.store-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1px;
  padding: 1px;
}

/* Individual bag card */
.store-card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s;
}

.store-card:hover {
  transform: translateY(-5px);
}

/* Image box */
.store-image-box {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.store-image-box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* Details */
.store-company,
.store-model,
.store-type,
.store-description,
.store-price,
.store-rating {
  /* padding: 8px 12px; */
  font-size: 16px;
  gap: 1px;
}

.store-rating img {
  width: 18px;
  height: 18px;
  margin-right: 2px;
  
}

/* Add to Cart button */
.addToCartBtn {
  background-color: #ff6f61;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.addToCartBtn:hover {
  background-color: #e65a50;
}
/* No products message */
.store-no-products {
  padding: 20px;
  text-align: center;
  font-size: 18px;
  color: #555;
}

