.banner{
width: 100%;
padding-top: 10px;
height: 450px;
border-radius: 20px;
padding-left: 10px;
 
}
 
  @media (max-width: 1050px) {
  .banner {
width: 960px;
  }}
@media (max-width: 768px) {
  .banner {
    height: 300px;
    border-radius: 15px;
    padding-left: 5px;
    width: 500px;
  }
}

@media (max-width: 480px) {
  .banner {
    height: 200px;
    border-radius: 12px;
    width: 100%;
    padding-left: 0;
  }
}